<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Causas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="./causas.css" rel="stylesheet">
  </head>
  <body>

    <!-- header  -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" id="menu">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../../../assets/salvar-medio-ambiente.avif" alt="" width="150.5" height="auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-5 mb-lg-0 justify-content-center">
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="../../index.html" data-section="header" data-value="nav1">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="./causas.html" data-section="header" data-value="nav1">Causas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="../../components/consecuencias/consecuencias.html" data-section="header" data-value="nav1">Consecuencias</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Causas -->

<div class="container-fluid w-100 d-flex">
  <div class="w-100 marca">
  </div>
  <div class="marca-contenido marca-text">
      <h1 class="fs-1">
          Daño al medio ambiente
      </h1>
  </div>
  <div>
      <h3 class=" fw-bold marca-contenido marca-title">
          Causas
      </h3>
  </div>
</div>

 <!-- collection -->
 <section class="container-fluid" id="objetivos-seccion">
  <div class="row w-100 mx-auto servicio-fila justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-12 my-5 icono-wrap text-center" id="tarjeta-servicio">
      <div class="tarjeta-images images-1">
        <div class="tarjeta-contenido d-flex w-100">
          <div class=" w-100 d-flex justify-content-center">
              <div class="titulo-tarjeta d-flex justify-content-center">
                  <h3 class="fs-5 px-4 pb-1 fw-bold">
                    Contaminación del aire
                  </h3>
                </div>  
                <div class="d-flex justify-content-center align-items-center">
                  <p class="fs-6">La emisión de gases contaminantes, como dióxido de azufre y óxidos de nitrógeno, provenientes de la quema de combustibles fósiles.</p>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 my-5 icono-wrap text-center" id="tarjeta-servicio">
      <div class="tarjeta-images images-2">
        <div class="tarjeta-contenido d-flex w-100">
          <div class=" w-100 d-flex justify-content-center">
              <div class="titulo-tarjeta d-flex justify-content-center">
                  <h3 class="fs-5 px-4 pb-1 fw-bold">
                    Contaminación del agua
                  </h3>
                </div>  
                <div class="d-flex justify-content-center align-items-center">
                  <p class="fs-6">La liberación de sustancias químicas tóxicas y desechos industriales en cuerpos de agua, como ríos, lagos y océanos, contamina el agua.</p>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 my-5 icono-wrap text-center" id="tarjeta-servicio">
      <div class="tarjeta-images images-3">
        <div class="tarjeta-contenido d-flex w-100">
          <div class=" w-100 d-flex justify-content-center">
              <div class="titulo-tarjeta d-flex justify-content-center">
                  <h3 class="fs-5 px-4 pb-1 fw-bold">
                    Deforestación
                  </h3>
                </div>  
                <div class="d-flex justify-content-center align-items-center">
                  <p class="fs-6">La tala de árboles a un ritmo más rápido de lo que pueden regenerarse o degradación de los bosques debido a la agricultura, la minería y la urbanización</p>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 my-5 icono-wrap text-center" id="tarjeta-servicio">
      <div class="tarjeta-images images-4">
        <div class="tarjeta-contenido d-flex w-100">
          <div class=" w-100 d-flex justify-content-center">
              <div class="titulo-tarjeta d-flex justify-content-center">
                  <h3 class="fs-5 px-4 pb-1 fw-bold">
                    Cambio climático
                  </h3>
                </div>  
                <div class="d-flex justify-content-center align-items-center">
                  <p class="fs-6">La emisión excesiva de gases de efecto invernadero, como el dióxido de carbono, el metano y el óxido nitroso, provenientes de actividades humanas.</p>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 my-5 icono-wrap text-center" id="tarjeta-servicio">
      <div class="tarjeta-images images-5">
        <div class="tarjeta-contenido d-flex w-100">
          <div class=" w-100 d-flex justify-content-center">
              <div class="titulo-tarjeta d-flex justify-content-center">
                  <h3 class="fs-5 px-4 pb-1 fw-bold">
                    Contaminación del suelo
                  </h3>
                </div>  
                <div class="d-flex justify-content-center align-items-center">
                  <p class="fs-6">La liberación de productos químicos tóxicos, como pesticidas y herbicidas, así como la deposición de sustancias contaminantes provenientes del aire.</p>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 my-5 icono-wrap text-center" id="tarjeta-servicio">
      <div class="tarjeta-images images-6">
        <div class="tarjeta-contenido d-flex w-100">
          <div class=" w-100 d-flex justify-content-center">
              <div class="titulo-tarjeta d-flex justify-content-center">
                  <h3 class="fs-5 px-4 pb-1 fw-bold">
                    Pérdida de biodiversidad
                  </h3>
                </div>  
                <div class="d-flex justify-content-center align-items-center">
                  <p class="fs-6">La destrucción de hábitats naturales, la caza furtiva, la introducción de especies invasoras y el cambio climático.</p>
                </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="text-center text-lg-start bg-white text-muted">
    <section class="footer-pag-principal">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3 pt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <img src="../../../assets/salvar-medio-ambiente.avif" alt="" width="200" height="auto">
                    <p>
                        Procura cuidar el medio ambiente reduciendo el consumo de energía, utiliza más transporte público y recicla.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 contact-footer">
                        Variables
                    </h6>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Causas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Consecuencias</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 contact-footer">Contacto</h6>
                    <p><i class="fas fa-phone me-3" style="color: #085e0f;"></i> 300 2097884</p>
                </div>
            </div>
        </div>
    </section>
</footer>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
      </body>
    </html>