@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --off-white: #ffffff;
    --green-dark: #085e0f;
    --weight-black: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: var(--off-white);
}

/* header */

#header-nav {
    background: var(--black-blue);
}

#menu {
  background: var(--weight-black) !important; 
  z-index: 1;
}

#menu a {
  font-size: 18px;
  color: var(--off-white);
}

.navbar-toggler-icon {
  background-color: var(--green-dark);
}


#servicios {
  background: #2b343d;
  padding-top: 20px;
}

#servicios h2 {
  color: var(--off-white)
}

#servicios p {
  color: var(--off-white)
}


#link-servicio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  width: 180px;
  transition: .5s;
  background-color: var(--green-dark);
  
}

#link-servicio:hover {
  transform: translateY(-4px);
  background-color: #ff7f11;
}

#servicio-secion {
  background-color: var(--black);
}

#servicio-secion h2 {
  color: var(--off-white)
}

#servicio-secion p {
  color: var(--off-white)
}

#link-servicio a {
  color: var(--off-white)
}

#link-servicio img {
  width: 50px;
  height: 50px;
  animation-play-state: paused;
}

#servicio-descripcion {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

#servicio-img {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
}

#servicio-img img {
  width: 400px;
  height: 400px;
}



#menu li {
    transition: .3s;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

#ul-background {
    background: var(--black)
}

#ul-background a:hover {
    color: var(--just-white);
    background: var(--orange);
    border-radius: 50px;
}

#menu a:hover {
    color: var(--off-white);
}

#menu li:hover {
    background: var(--green-dark);
    border-radius: 50px;
}



.carrusels-images img{
  min-height: 300px;
  max-height: 450px;
}

#section-carrusel {
  background-color: var(--off-white);
}

#text-carrusel {
  background-color: var(--black);
    padding: 40px 20px;
    border-radius: 25px;
    margin: 10px;
}






.servicios-recomendaciones {
    margin-top: 100px;
}

.tarjeta-recomendaciones:hover {
    background-color: var(--green-dark);
    border-radius: 100px;
    transform: translateY(-4px);
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.16);
    transition: .3s;
}

/* collection */


#tarjeta-servicio {
    position: relative;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.16);
    background-color: var(--just-white);
    transition: .5s;
    width: 400px; /* Ancho de la tarjeta */
    height: 500px; 
    padding: 0 !important;
  }
  
  #tarjeta-servicio:hover {
    transform: translateY(-4px);
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.16)
  }
  
  .tarjeta-images {
    position: relative;
    width: 100%;
    height: 100%;
    
  }

  .images-1 {
    background-image: url("./assets/cicla.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  .images-2 {
    background-image: url("./assets/reciclaje.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
  
  .images-3 {
    background-image: url("./assets/energia.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
  
  .tarjeta-images img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: .2s;
  }
  
  .tarjeta-contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: .2s;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .titulo-tarjeta {
    position: absolute;
    top: 10px;
  }
  
  .titulo-tarjeta h3 {
    margin: 0;
    margin-top: 0;
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 15px !important;
  }
  
  .tarjeta-contenido p {
    margin: 0;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
  }
  
  .parrafo-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  
  .parrafo-tarjeta p {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
  }
  
  .parrafo-tarjeta i {
    position: relative;
    bottom: -25px;
    margin-left: 5px;
  }

  .parrafo-tarjeta a {
    text-align: center;
  }


  

.footer-pag-principal {
  background-color: var(--weight-black);
  color: var(--off-white);
}

.footer-pag {
  position: relative;
  background-image: url(../../assets/images/footer.jpg);
  background-size: cover;
  background-position: center;
}

.footer-pag::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.contact-footer {
  border-bottom: 2px solid var(--green-dark);
display: inline-block; 
padding-bottom: 4px; 
}


